* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    background-color: #1c1c1c;
    color: white;
}

/* EN TETE */

header {
    position: relative;
    font-family: 'Rubik Mono One', sans-serif;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.name {
    border: 5px solid rgb(36, 125, 160, .8);
    box-shadow: 0 0 20px rgb(36, 125, 160);
    padding: 30px;
    border-radius: 10px;
    color: transparent;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: rgb(171, 211, 27);
    text-align: center;
    font-size: 4.5rem;
    margin-bottom: 100px;
    transform: translateY(-500%);
    animation: clignoteName 1s ease forwards;
    animation-delay: 0.5s;
}

.job {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 6rem;
}

.job .letter {
    text-shadow: 0 0 5px black;
}

.job .letter:nth-child(1) {
    margin-bottom: 50px;
    transform: translateX(100%);
    animation: appearJob 1s ease-in-out forwards;
    animation-delay: 2s;
}

.job .letter:nth-child(2) {
    transform: translateX(-100%);
    animation: appearJob 1s ease-in-out forwards;
    animation-delay: 2.5s;
}

.scroll {
    position: absolute;
    bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    animation: scroll 1s ease infinite;
}

@keyframes scroll {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }


    100% {
        transform: scale(1);
    }
}

@keyframes clignoteName {
    0% {
        transform: scale(1) translateY(0%);
        opacity: 1;
    }

    50% {
        opacity: 0;
        transform: scale(1.1);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes appearJob {
    to {
        transform: translateX(0%);
    }
}

@media (max-width: 950px) {
    .job {
        font-size: 4rem;
    }

    .name {
        font-size: 2.5rem;
    }
}

@media (max-width: 630px) {
    .job {
        font-size: 3rem;
    }

    .name {
        font-size: 1.5rem;
    }
}

@media (max-width: 500px) {
    .job {
        font-size: 2rem;
    }
}

/* ABOUT */