* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'POPPINS', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: #1c1c1c;
    overflow-x: hidden;
    color: white;
}


.container {
    width: 1350px;
    margin: auto;
}

header {
    height: 100vh;
}

.content {
    margin-top: 200px;
    margin-bottom: 200px;
    width: 100%;
    text-align: center;
}

.colorletter {
    color: #44de0c;
}

.titleSection {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

/* NAVIGATION */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-bottom: 200px;
}

.logo {
    position: relative;
    z-index: 2;
}

.logo a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 3px;
}

.dot {
    font-size: 3rem;
    color: #44de0c;
    margin-left: 10px;
}


.menu {
    display: flex;
    gap: 40px;
    font-size: 1.2rem;
}

.menu a {
    text-decoration: none;
    color: white;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s ease-in-out;
}

.menu a:hover::after {
    transform: scaleX(1);
}

.menuMobileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none;
    z-index: 2;
}

.menuMobile {
    width: 30px;
    height: 3px;
    background-color: white;
    border-radius: 15px;
    position: relative;
}

.menuMobile::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 15px;
}

.menuMobile::after {
    content: "";
    position: absolute;
    top: -10px;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 15px;
}

.menuOpen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100vh;
    background-color: #1c1c1c;
    font-size: 2.5rem;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
}

.active {
    transform: translateX(0%);
    transition: all 0.5s ease-in-out;
}

.menuOpen a {
    text-decoration: none;
    color: white;
    position: relative;
}

.menuOpen a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    margin-top: 10px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s ease-in-out;
}

.menuOpen a:hover::after {
    transform: scaleX(1);
}

/* HOME CONTAINER */

.home_container {
    display: flex;
    gap: 100px;
    align-items: center;
}

.present {
    width: 820px;
    height: 100%;
}

.title {
    font-size: 3.5rem;
    font-weight: bold;
    position: relative;
}

.multi {
    color: #45DE0C;
}

.line {
    position: absolute;
    left: 110px;
    top: 50px;
    width: 100px;
    height: 5px;
    border-radius: 5px;
    background-color: white;
}

.subtitle {
    margin-top: 25px;
    font-size: 1rem;
    text-align: justify;
}

.homeButton {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0 50px 0;
}

.homeButton .btn a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
    text-decoration: none;
    color: #1c1c1c;
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.homeButton .btn {
    position: relative;
    width: 250px;
    margin: 0 20px 0 20px;
    padding: 10px;
    background-color: #45DE0C;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.homeButton .btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in-out;
}

.homeButton .btn:hover::before {
    transform: translateX(0%);
}

.pic {
    width: 300px;
    height: 100%;
    position: relative;
}

.pic img {
    width: 300px;
    height: 300px;
}

.gribouilli {
    position: absolute;
    top: -30px;
    left: -30px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: -1;
    background-color: #44de0c44;
    animation: gribUn 5s infinite;
}

.gribouilliDeux {
    position: absolute;
    top: -50px;
    left: -50px;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    z-index: -1;
    background-color: #44de0c44;
    animation: gribDeux 5s infinite;
}

@keyframes gribUn {
    0% {
        top: -20px;
        left: -20px
    }

    25% {
        top: 70px;
        right: 35px;
    }

    50% {
        top: 30px;
        left: 0px;
    }

    75% {
        top: 10px;
        left: 35px;
    }

    100% {
        top: -20px;
        left: -20px
    }
}

@keyframes gribDeux {
    0% {
        top: 40px;
        left: 40px
    }

    25% {
        top: -70px;
        right: -35px;
    }

    50% {
        top: -30px;
        left: 0px;
    }

    75% {
        top: -10px;
        left: -35px;
    }

    100% {
        top: 40px;
        left: 40px
    }
}

.scroll {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollAnim 1s infinite;
}

@keyframes scrollAnim {
    0% {
        transform: translateX(-50%) scale(1);
    }

    50% {
        transform: translateX(-50%) scale(1.1);
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

/* EDUCATION */

.boxTimeline {
    margin-top: 100px;
    width: 100%;
    height: 700px;
    padding: 20px;
    position: relative;
}

.boxLine {
    height: 600px;
    width: 8px;
    margin: 0 auto;
    background-color: #1c1c1c;
    border: 2px solid white;
}

.round {
    color: #1c1c1c;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.r1 {
    top: 20px;
    line-height: 15px;
}

.r2 {
    top: 280px;
}

.r3 {
    top: 550px;
}

.box {
    color: #1c1c1c;
    width: 300px;
    min-height: 200px;
    padding: 20px;
    border-radius: 15px;
    height: auto;
    background-color: white;
    box-shadow: 0 0 10px black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.b1 {
    top: 20px;
    left: calc(50% + 270px);
}

.b2 {
    top: 280px;
    left: calc(50% - 270px);
}

.b3 {
    top: 550px;
    left: calc(50% + 270px);
}


/* KNOWLEDGES */

.boxKnow {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 30px;
    justify-items: center;
}

.boxK {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    background-color: white;
    color: #1c1c1c;
}

.boxK img {
    width: 100px;
    height: 100px;
}

.percentage {
    width: 100%;
    height: 30px;
    border: 2px solid #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.percent {
    position: relative;
    z-index: 2;
}

.percentage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #08cf33;
    transform: translateX(-100%);
}

#p1::before {
    animation: p1 1s forwards;
}

@keyframes p1 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-10%);
    }
}

#p2::before {
    animation: p2 1s forwards;
}

@keyframes p2 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-20%);
    }
}

#p3::before {
    animation: p3 1s forwards;
}

@keyframes p3 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-60%);
    }
}

#p4::before {
    animation: p4 1s forwards;
}

@keyframes p4 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-50%);
    }
}

#p5::before {
    animation: p5 1s forwards;
}

@keyframes p5 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-40%);
    }
}

#p6::before {
    animation: p6 1s forwards;
}

@keyframes p6 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-30%);
    }
}

#p7::before {
    animation: p7 1s forwards;
}

@keyframes p7 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-35%);
    }
}

#p8::before {
    animation: p8 1s forwards;
}

@keyframes p8 {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(-45%);
    }
}


/* RESPONSIVE */

@media screen AND (max-width: 1400px) {
    .container {
        width: 95%;
    }

    header {
        height: auto;
    }

    nav {
        margin-bottom: 100px;
    }

    .home_container {
        flex-direction: column;
    }

    .present {
        width: 95%;
        margin-top: 150px;
    }

    .title {
        font-size: 3rem;
    }

    .gribouilli,
    .gribouilliDeux {
        display: none;
    }

    .scroll {
        display: none;
    }

    .boxLine {
        position: relative;
        left: 200px;
    }

    .round {
        left: calc(50% + 200px);
    }

    .box {
        left: calc(50% - 50px);
    }
}

@media screen AND (max-width: 850px) {
    .container {
        width: 97%;
    }

    nav {
        margin-bottom: 50px;
    }

    .menu {
        display: none;
    }

    .menuMobileContainer {
        display: flex;
    }

    .present {
        width: 97%;
        margin-top: 100px;
    }

    .title {
        font-size: 2.5rem;
    }

    .boxLine {
        position: relative;
        left: 0px;
    }

    .round {
        left: calc(50% + 0px);
    }

    .box {
        left: calc(50% - 0px);
    }
}